{% extends 'tienda/base.html' %}

{% block content %}

    <form>
        {% csrf_token %}
            {% if prod %}
                <table class="table table-striped">
                    <thead>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Borrar
                    </th>
                    <th>
                        Añadir
                    </th>
                    <th>
                        Editar
                    </th>
                    </thead>

                    {% for producto in prod %}
                        <tr>
                            <td>
                                {{ producto.nombre }}
                            </td>
                            <td>
                                {{ producto.marca }}
                            </td>
                            <td>
                                <a href="{% url 'borrarProducto' producto.pk %}" >
                                    <button type="button" class="btn btn-danger">Borrar</button>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-info">Añadir</button>
                            </td>
                            <td>
                                <button class="btn btn-warning">Editar</button>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
    </form>
    <button class="btn btn-dark"><a href="/">Atras</a></button>
{% endblock %}